#cardsindex {
    width: 90%; !important;
    height: 90%; !important;
}
#modalAddTache { width: 75% !important ; height: 75% !important ; }
#modalEditTache { width: 75% !important ; height: 75% !important ; }
#modalAddJalon { width: 75% !important ; height: 75% !important ; }
#modalEditJalon { width: 75% !important ; height: 75% !important ; }